<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../static/registration/login.css">
</head>
<body>
        
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
        <div class="form_login">
        <form class="login" action="{% url 'login' %}">
                <b> LOGIN TO MOFISAFE</b>
                <div class="name">
                        <input class="input_name" type ="username", id="name" placeholder="username or email">
                </div>
                <div class="password">
                        <input class="input_passwd" type="password", id="password" placeholder="password">
                </div>
                <button class = "login_btn" type="submit"> Login </button>
                <p class="login_signup_sep"> or </p>
                <button class="sign_up_btn" type="button">Sign Up</button>
        </form>


        <div class="second"></div>

</body>
</html>